.btn-primary{
    background-color: $primary;
    border-color: $primary;
    color: #fff;
}
.btn-primary:hover{
    background-color: $primary-hover;
    border-color: $primary-hover;
}
//add to job
.add-job-btn{
    display: inline-block;
    background-color: $primary;
    width: 50px;
    height: 50px;
    border:none;
    text-align: center;
    border-radius: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    color: #fff;
}
.add-job-btn:hover{
    background-color: $sidebar-primary;
    .add-job-icon{
        color: #fff;
    }
}
.add-job-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    display: block;
}
// dropdowns
.dropdown1{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: .5em;
    padding-right: 1.5em;
    width: 5vw;
    outline: none;
    font-size: 12pt;
    font-weight: 400;
    text-indent: 0.01px;
    text-overflow: '';
    border: 1px solid rgba(255,255,255,.7);
    border-radius: 10px;
    color: rgba(0,0,0,.7);
    background-color: #EDF2F5;
    background-repeat: no-repeat;
    background-position: calc(100% - .5em) 50%;
    background-size: 12px;
    transition: all .2s ease-in-out;
    box-shadow: rgba(0,0,0,.15) 0 1px 0;
    color: rgba(0,0,0,.7);
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+DQo8cG9seWdvbiBvcGFjaXR5PSIwLjciIHBvaW50cz0iMCw0IDE2LDQgOCwxMiIvPg0KPC9zdmc+DQo=');/* dark arrow*/
}
//input
.time_input{
    width: 2vw;
}  