/* --- Card --- */
.card{
    background-color: #fff;
}
.card-header{
    background-color: #fff;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    color: $primary;
}
.card-footer{
    background-color: #fff;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    color: $primary;
}
/* --- Table --- */	

.limiter {	
    width: 1366px;	
    margin: 0 auto;	
  }	
  
  .container-table100 {	
    width: 100%;	
    min-height: 100vh;	
    background: #fff;	
    display: -webkit-box;	
    display: flex;	
    -webkit-box-align: center;	
            align-items: center;	
    -webkit-box-pack: center;	
            justify-content: center;	
    flex-wrap: wrap;	
    padding: 33px 30px;	
  }	
  
  .wrap-table100 {	
    width: 1170px;	
  }	
  
  .table100 {	
    background-color: #fff;	
  }	
  
  table {	
    width: 100%;	
  }	
  
  th,	
  td {	
    padding-right: 10px;	
  }	
  
  .column1 {	
    width: 12.5%;	
    padding-left: 40px;	
  }	
  
  .column2 {	
    width: 12.5%;	
  }	
  
  .column3 {	
    width: 12.5%;	
  }	
  
  .column4 {	
    width: 12.5%;	
  }	
  
  .column5 {	
    width: 12.5%;	
  }	
  
  .column6 {	
    width: 12.5%;	
  }	

  .column7 {	
    width: 12.5%;	
  }	

  .column8 {	
    width: 12.5%;	
  }	
  
  .table100-head th {	
    padding-top: 18px;	
    padding-bottom: 18px;	
  }	
  
  .table100-body td {	
    padding-top: 16px;	
    padding-bottom: 16px;	
  }	
  
  .table100 {	
    position: relative;	
    padding-top: 60px;	
  }	
  
  .table100-head {	
    position: absolute;	
    width: 100%;	
    top: 0;	
    left: 0;	
  }	
  
  .table100-body {	
    max-height: 585px;	
    overflow: auto;	
  }	
  
  .table100.ver2 .table100-head {	
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);	
  }	
  
  .table100.ver2 th {	
    font-size: 18px;	
    color: #4ECDC4;	
    line-height: 1.4;	
    background-color: transparent;	
  }	
  
  .table100.ver2 td {	
    font-size: 15px;	
    color: #808080;	
    line-height: 1.4;	
  }	
  
  .table100.ver2 .table100-body tr {	
    border-bottom: 1px solid #f2f2f2;	
  }	
  
  .table100.ver2 {	
    border-radius: 0px;	
    overflow: hidden;	
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);	
  }	
  
  .table100.ver2 .ps__rail-y {	
    right: 5px;	
  }	
  
  .table100.ver2 .ps__rail-y::before {	
    background-color: #ebebeb;	
  }	
  
  .table100.ver2 .ps__rail-y .ps__thumb-y::before {	
    background-color: #cccccc;	
  }
  /* Calander */
  .calander1 {	
    width: 14.2%;	
    padding-left: 40px;	
    height: 10vh;	
  }	
  
  .calander2 {	
    width: 14.2%;	
    height: 6vh;	
  }	
  
  .calander3 {	
    width: 14.2%;	
    height: 6vh;	
  }	
  
  .calander4 {	
    width: 14.2%;
    height: 6vh;	
  }	
  
  .calander5 {	
    width: 14.2%;
    height: 6vh;	
  }	
  
  .calander6 {	
    width: 14.2%;
    height: 6vh;	
  }	

  .calander7 {	
    width: 14.2%;
    height: 6vh;	
  }	