// Typography
$font-family: 'Montserrat', sans-serif;

// Colors

$bg-colour: #EDF2F4;
$text-colour: #2B2D42;
$primary: #4ECDC4;
$primary-hover: #2da199;
$sidebar-primary: #2B303A;
$sidebar-active: #4ECDC4;


// Body
.wrapper{
    background-color: #EDF2F4;
    color: #292F36;
}